
#article1{
	box-sizing: border-box;
	margin-top: 0px;
}
.section1{
	box-sizing: border-box;
	background-color: #ffccd9;
	border: 1px solid black;
	margin: 10px;
	margin-top: 0px;
	float:left;
	height: 250px;
	padding-left: 5px;
	padding-top: 0px;
}
.section2{
	box-sizing: border-box;
	background-color: #ccffd9;
	border: 1px solid black;
	margin: 10px;
	margin-top: 0px;
	float:left;
	height: 250px;
	padding-left: 5px;
}
.section3{
	box-sizing: border-box;
	background-color: #99e6ff;
	border: 1px solid black;
	margin: 10px;
	margin-top: 0px;
	float:left;
	height: 250px;
	padding-left: 5px;
}
.heading1{
	background-color: #99e6ff;
	box-sizing: border-box;
	border: 1px solid black;
	border-right: none;
	width: 33%;
	position: relative;
	left:67%;
	text-align: center;
	margin-top: 0px;
}

.heading2{
	background-color: #ffccd9;
	box-sizing: border-box;
	border: 1px solid black;
	border-right: none;
	width: 33%;
	position: relative;
	left:67%;
	text-align: center;
	margin-top: 0px;
}
.heading3{
	background-color: #d9ffcc;
	box-sizing: border-box;
	border: 1px solid black;
	border-right: none;
	width: 33%;
	position: relative;
	left:67%;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px
}


@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3{
    width: 31%;
    margin-top: 0px;}

  }
@media (min-width: 768px) and (max-width: 991px) {
  	.col-md-1, .col-md-2{
    width: 47%;
    margin-top: 0px;
	}
	.col-md-3{
	width: 96.7%;
    margin-top: 0px;
	}
  }
@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3{
    width: 100%;
    margin-top: 0px;}
}
.headerstyle1{
	font-family: "Times New Roman,Georgia, serif";
	font-color: black;
	font-weight:700;
	font-size:10vw;
	overflow: visible;
	text-align: center;

}
.headerstyle2{
	font-family: "Times New Roman,Georgia, serif";
		font-color: #001f3f;
	font-weight:600;
	font-size:20vw;
	font-size:20%;
	overflow: visible;
	}



.textstyle3{font-family: "Palatino Linotype, Book Antiqua, Palatino, serif";
	font-color:black;
	font-size:2vw;
	}

